@page "/mypage"

<h3> Hello This is my custom page </h3>

<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" @onchange = "@Validator">
<h1>You entered @EnteredValue</h1>
@code {
    public string inputValue = string.Empty;


    public string EnteredValue = string.Empty;

    public void Validator(ChangeEventArgs args)
    {
        EnteredValue = (string)args.Value;
    }

}
